[tool.ruff]
target-version = "py313"
line-length = 120

exclude = [
    ".git",
    "__pycache__",
    "*.egg-info",
    ".venv",
    "venv",
    "node_modules",
    ".aws-sam",
]

[tool.ruff.lint]
select = [
    "E",
    "W",
    "F",
    "I",
    "N",
    "UP",
    "B",
    "SIM",
]

ignore = [
    "E501",
    "B008",
]

[tool.ruff.format]
quote-style = "single"
indent-style = "space"

[tool.black]
line-length = 120
target-version = ['py313']
